<!doctype html>
<html ng-app="acousticLevel">

  <head>
    <meta charset="utf-8" />
    <title>Acoustic Level</title>
    <script src="angular.min.js"></script>
    <script src="utils.js"></script>
    <script src="app.js"></script>
    <script src="volume-analyser.js"></script>
    <script src="volume-meter/volume-meter.js"></script>
    <script src="levelController.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Cousine:700' rel='stylesheet' type='text/css'> </head>

  <body id="body">
    <div id="page" ng-controller="levelController">
      	<div id="sensitivity" ng-style="{opacity: opacity, transition: 'opacity '+(1-opacity)+'s'}">
	Set the sensitivity by vertical swipe or top / bottom arrows (left to reset) <br>  <br>
	Current sensitivity: {{sensitivity}}
	</div>
    	<div id="number">
	  {{logLevel}}
	</div>

    <svg class="draw" width="200" height="200" >
      <path ng-repeat="path in pathBuffer track by $index" ng-attr-d="{{'M0 0 '+path+' L200 0 Z'}}" fill="green" stroke="black" />
</svg>
    </div>
  </body>
</html>
