
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#page {
    text-align:center;
}

#number {
    font-family: 'Cousine';
    text-align: right;
    width: 120px;
    font-size: 100px;
    color: white;
    z-index: 10;
    top: 0px;
    left: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

#sensitivity {
  background-color: black;

    font-family: 'Cousine';
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    font-size: 30px;
    color: white;
    z-index: 10;
    position: relative;
    /*transition: opacity 2s;*/
}

.draw {
  border: 2px solid black;
}
